[Unit]
Description=smartmeter MQTT publisher
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/openthermMQTT
ExecStart=/opt/openthermMQTT/openthermMQTT.php
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
